/* TEMA */

[data-theme="dark"] {
    --color-background: #0f172a;
    --color-surface: #1e293b;
    --color-text: #f8fafc;
    --color-neutral: #94a3b8;
    --shadow-md: 0 8px 20px rgba(0, 0, 0, 0.5);
}